.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: -webkit-box;
  }
  
.nav-links li {
    font-family: sans-serif;
    width: 100px;
    text-align: center;
    border-right: 1px;
    border-right-style: solid;
  }

a {
    background-color: white;
    text-decoration: blue;
    text-decoration-line: none;
}

.paragraph {
    color: black;
    font-family: sans-serif;
    padding: 3px 10px 3px 10px;
}

.tablerow {
    color: black;
    font-family: sans-serif;
    display: -webkit-box;
}

.rowitem {
    padding: 3px 10px 3px 10px;
    width: 100px;
}

.header {
    color: black;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    border-bottom: black;
    border-width: medium;
    border-bottom-style: solid;
}

.title {
    color: black;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    width: 100px;
}